<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Servlet015_ReadInitParamServlet</display-name>

	<context-param>
		<param-name>MyContextParam</param-name>
		<param-value>Context Parameters are servlet independent</param-value>
	</context-param>

	<servlet>
		<servlet-name>ReadInitParamsServlet</servlet-name>
		<servlet-class>com.training.servlet.ReadInitParamsServlet</servlet-class>
		<init-param>
			<param-name>MyInitParam</param-name>
			<param-value>Init Params are servlet specfic</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ReadInitParamsServlet</servlet-name>
		<url-pattern>/readInitParams</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>