<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
<script th:src="@{/main.js}"></script>
<link th:href="@{/main.css}" rel="stylesheet">
</head>
<body data-ng-app="EmployeeManagement"
	data-ng-controller="EmployeeController">

	<h3>CRUD: Spring Boot + Rest + AngularJS</h3>
	<form data-ng-submit="submitEmployee()">
		<table border="1">
		
		</table>
	</form>

</body>
</html>